{% include "dashboard_header.html" %}

    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            
            <!-- Sidebar Options -->
            {% include "sidebar.html" %}

            <!-- Main Content -->

            <!-- Main content -->
            <main role="main" id="main-container" class="col-md-6 ml-sm-auto col-lg-8">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="container">
                        <br><br><br>
                        <h2 id="add-book-heading">Add New Book</h2>
                        <div class="form-container">
                            <form id="addBookForm" method="post" novalidate>
                                <!-- Include CSRF token -->
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <!-- Title -->
                                <div class="form-group">
                                    <label class="bold-label" for="title">Title <span id="mendatory">*</span></label>
                                    <input type="text" class="form-control" id="title" name="title" required>
                                </div>
                                <div class="form-group">
                                    <label class="bold-label" for="author_name">Author Name <span id="mendatory">*</span></label>
                                    <input type="text" class="form-control" id="author_name" name="author_name" required>
                                </div>
                                <!-- Genre -->
                                <div class="form-group">
                                    <label class="bold-label">Genre <span id="mendatory">*</span></label><br>
                                    {% for genre in unique_genres %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="{{ genre }}" name="genre" value="{{ genre }}">
                                        <label class="form-check-label" for="{{ genre }}">{{ genre }}</label>
                                    </div>
                                    {% endfor %}
                                    <br>
                                    <!-- Button to add custom genre -->
                                    <div class="form-group" id="custom-genre-container" style="display: none;">
                                        <label class="bold-label" for="custom-genre">Custom Genre:</label>
                                        <input type="text" class="form-control" id="custom-genre" name="custom_genre">
                                    </div>
                                    <button type="button" class="btn btn-custom" id="add-custom-genre-btn">Add Custom Genre</button>
                                </div>
                                <!-- Language -->
                                <div class="form-group">
                                    <label class="bold-label" for="language">Language <span id="mendatory">*</span></label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="bangla" name="language" value="Bangla"
                                            required>
                                        <label class="form-check-label" for="bangla">Bangla</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="english" name="language" value="English"
                                            required>
                                        <label class="form-check-label" for="english">English</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="other_language" name="language"
                                            value="Other" required>
                                        <label class="form-check-label" for="other_language">Other</label>
                                    </div>
                                    <!-- Add more language radio inputs as needed -->
                                </div>
                                <!-- Page Number -->
                                <div class="form-group">
                                    <label class="bold-label" for="page_num">Page Number <span id="mendatory">*</span></label>
                                    <input type="number" class="form-control" id="page_num" name="page_num" required>
                                </div>
                                <!-- Read/ Unread -->
                                <div class="form-group">
                                    <label class="bold-label" for="read_unread">Read/ Unread? <span id="mendatory">*</span></label><br>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="read" name="read_unread" value="Yes"
                                            required>
                                        <label class="form-check-label" for="read">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="unread" name="read_unread" value="No"
                                            required>
                                        <label class="form-check-label" for="unread">No</label>
                                    </div>
                                </div>
                                <!-- Review -->
                                <div class="form-group">
                                    <label class="bold-label" for="review">Review</label>
                                    <textarea class="form-control" id="review" name="review"></textarea>
                                </div>
                                <!-- Image URL -->
                                <div class="form-group">
                                    <label class="bold-label" for="img_url">Image URL</label>
                                    <input type="text" class="form-control" id="img_url" name="img_url">
                                </div>
                                <br>
                                <!-- Form Submit Button -->
                                <button type="submit" class="btn btn-update">Submit</button>
                                <button type="button" id="delete-button" class="btn"><a id="cancel-btn"
                                    href="{{ url_for('dashboard')}}">Cancel</a></button>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script>
        // JavaScript validation for form submission and form submission handling
        document.getElementById("addBookForm").addEventListener("submit", function (event) {
            // Validate form fields
            const title = document.getElementById("title").value;
            const author_name = document.getElementById("author_name").value;
            // const genre = document.querySelectorAll('input[name="genre"]:checked').length;
            const language = document.querySelector('input[name="language"]:checked');
            const page_num = document.getElementById("page_num").value;
            const read_unread = document.querySelector('input[name="read_unread"]:checked');
    
            if (!title || !author_name || !language || !page_num || !read_unread) {
                alert("Please fill in all mandatory fields");
                event.preventDefault();
                return; // Stop further execution
            }
    
            // Prevent default form submission
            event.preventDefault();
    
            // Fetch POST request to add_book route
            fetch("/add_book", {
                method: "POST",
                body: new FormData(this) // Send form data
            })
            .then(response => response.json()) // Parse response as JSON
            .then(data => {
                if (data.status === "success") {
                    alert(data.message); // Show success message
                    window.location.href = "/"; // Redirect to home page
                } else {
                    alert(data.message); // Show error message
                }
            })
            .catch(error => console.error("Error:", error)); // Log any errors
        });
    </script> 

    <script>
        document.getElementById("add-custom-genre-btn").addEventListener("click", function () {
            // Toggle the visibility of the custom genre text box
            var customGenreContainer = document.getElementById("custom-genre-container");
            customGenreContainer.style.display = (customGenreContainer.style.display === "none") ? "block" : "none";
        });
    </script>

    <!-- Footer -->
    {% include "footer.html" %}

</body>

</html>